*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f1e6;
    align-items: center;
    justify-content: center;
    font-family: calibri;
}

/* BARRA DE NAVEGACION */

.menu{
    display: block;
    margin-top: 0px;
    background-color: #8c7f53;
    width: 100%;
    z-index: 20;
    height: 240px;
    /* border: solid 3px black; */
}
nav{
    display: flex;
    align-items: center; /* Alinear verticalmente */
    justify-content: space-between; /* Separa los elementos */
    position: fixed;
    background-color: #8c7f53;
    width: 100%;
    height: 60px;
    z-index: 10; 
    box-shadow: 0px 10px 10px -10px black;
}

#logo-nav{
    display: block;
    margin: 0px auto;
    height: 180px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.hidden-logo {
    opacity: 0;
    visibility: hidden;
  }
  

.logo-principal-nav img{
    position: absolute;
    margin: -30px 0px;
    height: 100%;
    width: auto;
    transition: all 0.5s ease;
}

nav ul{
    display: flex;
    margin: auto;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    width: 70%;
    margin: 0px auto;
    justify-content: space-between;
    transition: all 0.5s ease;

}

#nav-bar, .icon-bar{
    display: none;
    position: absolute;
    margin-left: -100px;
}

.link{
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: all 0.5s ease;
}

.link:hover{
    background-color: #574d2d;
    box-shadow: 0px 3px 10px black;
    border-radius: 10px 10px 10px 10px;
}

#logo-nav:hover, .logo-principal-nav img:hover{
    transform: scale(1.1);
}


/* TOP Y SLIDER */

.top-page-padre{
    background-image: url(Imagenes/fondo.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center 100%; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    width: 100%;
    height: 100vh; 
}

.top-page-left{
    width: 40%;
    height: 100%;
    border: solid 3px black;
}


.top-page-right{
    display: flex;
    width: 60%;
    height: 100%;
    border: solid 3px black;
}

.top-page-right img{
    height: auto;
    width: 100%;
    max-width: 700px;
    margin:auto;
    transition: .5s ease;
}



 /* TARJETAS */
 .tarjetas-padre{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    background: linear-gradient(to left, #f5f1e6, #8c7f53);
    border: 3px solid black;
}

.tarjetas-titulo{
    width: 100%;
    height: 15%;
    text-align: start;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
    color: #2c2b26;
    border: 3px solid black;
}

.tarjetas{
    display: flex;
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 10px black;
    border: 3px solid black;
}

.tarjeta-presentacion{
    display: block;
    width: 40%;
    height: 500px;
    margin: auto;
    padding: 1%;
    transition: all 0.5s ease-in-out;
    border: 3px solid black;
}

.presentacion-img{
    display: flex;
    width: 100%;
    height: 20%;
}

.presentacion-img img{
    height: 100%;
    width: auto; 
    margin: auto;
}

.presentacion-p{
    width: 100%;
    height: 80%;
}

.presentacion-p p{
    color: white;
    text-align: justify;
    padding: 20px;
    font-size: 25px;
}

.tarjetas-1-2{
    display: flex;
    width: 60%;
    height: auto;
    margin: auto;
    border: 3px solid black;
}


.tarjeta-1, .tarjeta-2{
    display: block;
    width: 350px;
    height: 500px;
    margin: auto;
    background: linear-gradient(to right, #f5f1e6, #8c7f53);
    box-shadow: 0px 3px 10px black;
    transition: all 0.5s ease-in-out;
    border: 3px solid black;
}

.tarjeta-1:hover, .tarjeta-2:hover{
    transform: scale(1.2);
}

.foto-1, .foto-2{
    width: 90%;
    height: 45%;
    margin:auto;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.foto-1 img{
    width: 100%;
    transform: translate(0, -30%);
}

.foto-2 img{
    width: 100%;
    transform: translate(0, -10%);
}

.titulo-1, .titulo-2{
    width: 90%;
    height: 10%;
    margin:auto;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background-color: #8c7f53;
}

.titulo-1:hover, .titulo-2:hover{
    transform: scale(1.1);
    border-radius: 10px 10px 10px 10px;
}

.titulo-1 h2{
    font-size: 20px;
}
.titulo-1 h3{
    font-size: 15px;
    margin-top: 5px;
}

.descripcion-1, .descripcion-2{
    width: 90%;
    height: 30%;
    margin:auto;
    background-color: transparent;
}

.descripcion-1 p, .descripcion-2 p{
    padding: 5px;
    text-align: justify;
}

.redes-1, .redes-2{
    width: 90%;
    height: 10%;
    margin:auto;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    background-color: #8c7f53;
}


.redes-1 a i:hover, .redes-2 a i:hover{
    transform: scale(1.5);
}


.redes-1, .redes-2{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    justify-content: space-between;
}

.redes-1 a i, .redes-2 a i{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;   
}


/* PIE DE PAGINA */
.pie-pagina{
    display: flex;
    background-color: #8c7f53;
    width: 100%;
    height: 120px;
}

.pie-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-logo img{
    height: 90%;
    width: auto;
}

.pie-contacto{
    width: 40%;
    color: white;
    justify-items: center;
}

.pie-contacto i{
    font-size: 15px;
    display: flex;
    margin-top: 20px;

}
.pie-contacto i p{
    font-size: 12px;
    margin-left: 20px;
}

.pie-redes{
    text-decoration: none;
    width: 40%;
    color: white;
    justify-items: center;
}

.pie-redes a i{
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    padding-top: 1px;
    transition: all 0.5s ease-in-out;
}

.pie-titulo{
    margin-top: 10px;
}


.pie-redes a i:hover{
    transform: scale(1.5);
}

.pie-logos{
    align-content: start;
}





@media (max-width: 1280px){

    /* TARJETAS */
    .tarjetas{
        display: block;
    }

    .tarjeta-presentacion{
        display: block;
        width: 100%;
        padding: auto;
        justify-content: space-between;
    }
    
    .presentacion-p p{
        color: white;
        text-align: justify;
        padding: auto;
        font-size: 25px;
    }
    
    .tarjetas-1-2{
        width: 100%;
    }


}

@media (max-width: 800px){

    /* TARJETAS */

   .tarjetas-1-2{
       display: block;
   }

   .tarjeta-1, .tarjeta-2{
       transform: scale(0.8);
       margin-top: -100px;
       margin-bottom: 50px;
   }
   
   .tarjeta-1:hover, .tarjeta-2:hover{
       transform: scale(0.9);
   }
}


@media (max-width: 700px){

    /* BARRA DE NAVEGACION */

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        height: 150px;
    }

    nav{
        z-index: 1;
    }

    #logo-nav{
        position: relative;
        margin: 0 auto;
        z-index: 2;
        height: 150px;
        overflow: visible;
    }

    .logo-principal-nav img{
        position: relative;
        margin: auto;
        height: 60px;
        width: auto;
        transition: all 0.5s ease;
    }

    .icon-bar{
        position: fixed;
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        margin-top: -15px;
        margin-left: 10px;
        transition: all 0.5s ease;
        z-index: 100;
    }

    nav ul{
        position: absolute;
        display: block;
        top: 150px;
        height: auto;
        width: 250px;
        left: 0;
        transition: all 1s ease;
        visibility: hidden;
        opacity: 0;
        background-color: #796d48;
        border-radius: 0px 0px 10px 10px;
    }

    .link{
        font-size: 20px;
        margin: 10px;
        text-transform: uppercase;
        background-color: #796d48;
    }

    .link:hover{
        transform: scale(1.1);
        border-radius: 10px 10px 10px 10px;
    }

    .links-nav:hover{
        transform: scale(1);
    }

    .icon-bar:hover{
        transform: scale(1.3);
    }

    #nav-bar:checked ~ nav ul {
        visibility: visible;
        opacity: 1;
        top: 60px;
    }

    /* PIE DE PAGINA */

    .pie-pagina{
        height: 100px;
        width: 100%;

    }

    .pie-titulo{
        font-size: 15px;
    }

    .pie-contacto i{
        margin-top: 10px;

    }

    .pie-contacto i p{
        font-size: 8px;
    }

    .pie-redes a i{
        font-size: 20px;
        margin-top: 15px;
    }

    .pie-logo img{
        height: 80%;
        width: auto;
    }


    /* TARJETAS */

    .top-page-left{
        width: 0%;
    }
    
    .top-page-right{
        width: 100%;
    }
    
    .top-page-right img{
        margin-top: 20px;
    }


}


@media (max-width: 600px){

    /* TARJETAS */

    .tarjetas-titulo{
        font-size: 20px;
    }
    .presentacion-p p{
        font-size: 20px;
    }
}



@media (max-width: 500px){

    /* PIE DE PAGINA */
    .pie-pagina{
        height: 80px;
    }

    .pie-titulo{
        font-size: 12px;
    }

    .pie-contacto i{
        margin-top: 10px;

    }

    .pie-contacto i p{
        margin-left: 10px;
        font-size: 6px;
    }

    .pie-contacto i{
        font-size: 10px;
    }

    .pie-logo img{
        height: 60%;
        width: auto;
    }

}

@media (max-width: 370px){

   /* TARJETAS */

    .tarjetas-titulo{
        font-size: 15px;
    }
    .presentacion-p p{
        font-size: 16px;
    }
    
    .tarjeta-1, .tarjeta-2{
        transform: scale(0.6);
        margin-top: -200px;
        margin-bottom: 50px;
    }
    
    .tarjeta-1:hover, .tarjeta-2:hover{
        transform: scale(0.7);
    }
}