
*{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 183, 233);
}
/* BARRA DE NAVEGACION */
nav{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 10px 0;
}

#logo-nav{
    background-color: brown;
    margin:20px;
    width: 50px;
    height: auto;
}

.links-nav{
    background-color: brown;
}

.link{
    display: inline-block;
    background-color: gray;
    color: white;
    text-decoration: none;
    gap: 60px;
    margin: 15px 10px;
    padding: 20px;
}

.link:hover{
    background-color: white;
    color: black;
}


/* DESCRIPCION */
.descripcion-padre{    
    display: flex;
    align-content: center;
}

.descripcion{
    width: 400px;
    height: 200px;
    background-color: gray;
    align-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
}


/* TARJETAS */
#order-cards{
    display: flex;
}

.card{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px red;
    margin: auto;
}

.card:hover{
    box-shadow: 0px 5px 15px blue;
}

.card, .desc-card, h2, p, .img-card{
    background-color: brown;
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.img-card{
    border-radius: 10px;
}

.desc-card{
    color:aliceblue;
    padding: 20px;
}

.desc-card h2{
    text-align: center;
}





@media (max-width: 700px){

/* BARRA DE NAVEGACION */  
nav{
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 20px;
} 

.link{
    display: block;
    margin: 10px 50px;
}

/* DESCRIPCION */
.descripcion-padre{    
    display: block;
    margin: auto;
}


/* TARJETAS */
#order-cards{
    display: block;
}

.card{
    margin-bottom: 10px;
}


}